{% extends "appdoku/index.html" %}
{% load static %}
{% block contenido %}



<section class="container mt-5 p-3">

    <form action="" method="post" class="row justify-content-center align-items-center">
        {% csrf_token %}
        <div class="col-12">
            <div class="grilla">
                <div class="grilla">
                    <div class="col border border-dark">
                        <input type="text" class="form-control-plaintext text-center bg-dark text-bg-dark" id="00" name="00" value="3">
                    </div>
                    <div class="col border border-dark">
                        <input type="text" class="form-control-plaintext text-center" id="01" name="00" value="">
                    </div>
                    <div class="col border border-dark">
                        <input type="text" class="form-control-plaintext text-center" id="02" name="00" value="">
                    </div>
                    <div class="col border border-dark">
                        <input type="text" class="form-control-plaintext text-center" id="03" name="00" value="">
                    </div>
                    <div class="col border border-dark">
                        <input type="text" class="form-control-plaintext text-center" id="04" name="00" value="">
                    </div>
                    <div class="col border border-dark">
                        <input type="text" class="form-control-plaintext text-center" id="05" name="00" value="">
                    </div>
                    <div class="col border border-dark">
                        <input type="text" class="form-control-plaintext text-center" id="06" name="00" value="">
                    </div>
                    <div class="col border border-dark">
                        <input type="text" class="form-control-plaintext text-center" id="07" name="00" value="">
                    </div>
                    <div class="col border border-dark">
                        <input type="text" class="form-control-plaintext text-center" id="08" name="00" value="">
                    </div>
                </div>


                <div class="grilla">
                    <div class="col border border-dark">
                        <input type="text" class="form-control-plaintext text-center" id="09" name="00" value="">
                    </div>
                    <div class="col border border-dark">
                        <input type="text" class="form-control-plaintext text-center" id="10" name="00" value="">
                    </div>
                    <div class="col border border-dark">
                        <input type="text" class="form-control-plaintext text-center" id="11" name="00" value="">
                    </div>
                    <div class="col border border-dark">
                        <input type="text" class="form-control-plaintext text-center" id="12" name="00" value="">
                    </div>
                    <div class="col border border-dark">
                        <input type="text" class="form-control-plaintext text-center" id="13" name="00" value="">
                    </div>
                    <div class="col border border-dark">
                        <input type="text" class="form-control-plaintext text-center" id="14" name="00" value="">
                    </div>
                    <div class="col border border-dark">
                        <input type="text" class="form-control-plaintext text-center" id="15" name="00" value="">
                    </div>
                    <div class="col border border-dark">
                        <input type="text" class="form-control-plaintext text-center" id="16" name="00" value="">
                    </div>
                    <div class="col border border-dark">
                        <input type="text" class="form-control-plaintext text-center" id="17" name="00" value="">
                    </div>
                </div>



                <div class="grilla">
                    <div class="col border border-dark">
                        <input type="text" class="form-control-plaintext text-center" id="18" name="00" value="">
                    </div>
                    <div class="col border border-dark">
                        <input type="text" class="form-control-plaintext text-center" id="19" name="00" value="">
                    </div>
                    <div class="col border border-dark">
                        <input type="text" class="form-control-plaintext text-center" id="20" name="00" value="">
                    </div>
                    <div class="col border border-dark">
                        <input type="text" class="form-control-plaintext text-center" id="21" name="00" value="">
                    </div>
                    <div class="col border border-dark">
                        <input type="text" class="form-control-plaintext text-center" id="22" name="00" value="">
                    </div>
                    <div class="col border border-dark">
                        <input type="text" class="form-control-plaintext text-center" id="23" name="00" value="">
                    </div>
                    <div class="col border border-dark">
                        <input type="text" class="form-control-plaintext text-center" id="24" name="00" value="">
                    </div>
                    <div class="col border border-dark">
                        <input type="text" class="form-control-plaintext text-center" id="25" name="00" value="">
                    </div>
                    <div class="col border border-dark">
                        <input type="text" class="form-control-plaintext text-center" id="26" name="00" value="">
                    </div>
                </div>
            </div>

        </div>

    </form>
</section>


<!-- <section class="container mt-5 p-3">

    <form action="" method="post" class="row row-cols-3 justify-content-center align-items-center">
        {% csrf_token %}
        <div class="">
            <div class="row row-cols-3">
                <div>
                    <input type="text" class="form-control rounded-0 text-center" id="00" name="00" value="">
                </div>
                <div>
                    <input type="text" class="form-control rounded-0 text-center" id="00" name="00" value="">
                </div>
                <div>
                    <input type="text" class="form-control rounded-0 text-center" id="00" name="00" value="">
                </div>
                <div>
                    <input type="text" class="form-control rounded-0 text-center" id="00" name="00" value="">
                </div>
                <div>
                    <input type="text" class="form-control rounded-0 text-center" id="00" name="00" value="">
                </div>
                <div>
                    <input type="text" class="form-control rounded-0 text-center" id="00" name="00" value="">
                </div>
                <div>
                    <input type="text" class="form-control rounded-0 text-center" id="00" name="00" value="">
                </div>
                <div>
                    <input type="text" class="form-control rounded-0 text-center" id="00" name="00" value="">
                </div>
                <div>
                    <input type="text" class="form-control rounded-0 text-center" id="00" name="00" value="">
                </div>
            </div>
        </div>


        <div>
            <input type="text" class="form-control rounded-0 text-center" id="00" name="00" value="">
        </div>
        <div>
            <input type="text" class="form-control rounded-0 text-center" id="00" name="00" value="">
        </div>
        <div>
            <input type="text" class="form-control rounded-0 text-center" id="00" name="00" value="">
        </div>
        <div>
            <input type="text" class="form-control rounded-0 text-center" id="00" name="00" value="">
        </div>
        <div>
            <input type="text" class="form-control rounded-0 text-center" id="00" name="00" value="">
        </div>
        <div>
            <input type="text" class="form-control rounded-0 text-center" id="00" name="00" value="">
        </div>
        <div>
            <input type="text" class="form-control rounded-0 text-center" id="00" name="00" value="">
        </div>
        <div>
            <input type="text" class="form-control rounded-0 text-center" id="00" name="00" value="">
        </div>
    </form>
</section> -->



<!-- <section class="container mt-5 p-3">

    <form action="" method="post" class="row justify-content-center align-items-center">
        {% csrf_token %}
        <div class="col-12 d-flex justify-content-center align-items-center">
            <div class="border border-dark">
                <input type="text" class="form-control-plaintext text-center" id="00" name="00" value="">
            </div>
            <div class="border border-dark">
                <input type="text" class="form-control-plaintext text-center" id="01" name="01" value="1">
            </div>
            <div class="border border-dark">
                <input type="text" class="form-control rounded-0 border-0 text-center fs-6" id="02" name="02" value="1">
            </div>
            <div class="border border-dark me-2">
                <input type="text" class="form-control rounded-0 text-center" id="03" name="03" value="1">
            </div>
            <div class="border border-dark">
                <input type="text" class="form-control rounded-0 text-center" id="04" name="04" value="1">
            </div>
            <div class="border border-dark">
                <input type="text" class="form-control rounded-0 text-center" id="05" name="05" value="1">
            </div>
            <div class="border border-dark">
                <input type="text" class="form-control rounded-0 text-center" id="06" name="06" value="1">
            </div>
            <div class="border border-dark">
                <input type="text" class="form-control rounded-0 text-center" id="07" name="07" value="1">
            </div>
            <div class="border border-dark">
                <input type="text" class="form-control rounded-0 text-center" id="08" name="08" value="1">
            </div>
        </div>

        <div class="col-10 d-flex justify-content-center align-items-center">
            <div class="">
                <input type="text" class="form-control rounded-0 text-center" id="00" name="00" value="">
            </div>
            <div class="">
                <input type="text" class="form-control rounded-0 text-center" id="01" name="01" value="1">
            </div>
            <div class="">
                <input type="text" class="form-control rounded-0 text-center" id="02" name="02" value="1">
            </div>
            <div class="">
                <input type="text" class="form-control rounded-0 text-center" id="03" name="03" value="1">
            </div>
            <div class="">
                <input type="text" class="form-control rounded-0 text-center" id="04" name="04" value="1">
            </div>
            <div class="">
                <input type="text" class="form-control rounded-0 text-center" id="05" name="05" value="1">
            </div>
            <div class="">
                <input type="text" class="form-control rounded-0 text-center" id="06" name="06" value="1">
            </div>
            <div class="">
                <input type="text" class="form-control rounded-0 text-center" id="07" name="07" value="1">
            </div>
            <div class="">
                <input type="text" class="form-control rounded-0 text-center" id="08" name="08" value="1">
            </div>
        </div>

    </form>
</section> -->


<!-- <section class="container bg-light mt-5">
    <div class="row">
        <div class="col-4">
            <div class="row">
                <div class="col-4">11</div>
                <div class="col-4">12</div>
                <div class="col-4">13</div>
            </div>
        </div>
        <div class="col-4">2</div>
        <div class="col-4">3</div>
    </div>
</section> -->


<!-- <section class="container mt-5">
    <div class="row justify-content-center align-items-center p-3">
        <div class="grilla col-12 col-md-9">
            <div class="grilla sub-grilla">
                <div class="celda-fija">1</div>
                <div class="celda">2</div>
                <div>3</div>
                <div>4</div>
                <div>5</div>
                <div>6</div>
                <div>7</div>
                <div>8</div>
                <div>9</div>
            </div>
            <div class="grilla sub-grilla">
                <div>1</div>
                <div>2</div>
                <div>3</div>
                <div>4</div>
                <div>5</div>
                <div>6</div>
                <div>7</div>
                <div>8</div>
                <div>9</div>
            </div>
            <div class="grilla sub-grilla">
                <div>1</div>
                <div>2</div>
                <div>3</div>
                <div>4</div>
                <div>5</div>
                <div>6</div>
                <div>7</div>
                <div>8</div>
                <div>9</div>
            </div>
            <div>4</div>
            <div>5</div>
            <div>6</div>
            <div>7</div>
            <div>8</div>
            <div>9</div>
        </div>
    </div>
</section> -->
{% endblock %}