<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'appdoku/styles.css' %}">
    <title>appdoku</title>
</head>

<body>
    <header class="navbar navbar-expand-md fixed-top navbar-dark border-bottom navbar-fixed-top">
        <div class="container">
            <div class="d-flex justify-content-around align-items-center fs-2 fw-bold">
                <i class="bi bi-nut-fill text-white"></i>
                <a class="navbar-brand ms-1" href="{% url 'appdoku:index' %}">
                    <!-- <img src="{% static 'polls/img/bootstrap-logo.svg' %}" alt="Logo" width="30"
                        class="d-inline-block align-text-bottom"> -->
                    appdoku
                </a>
            </div>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <nav class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'appdoku:index' %}"">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Funciones</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Nosotros</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link disabled">Disabled</a>
                    </li> -->
                </ul>
            </nav>
        </div>
    </header>


    <main>
        {% block contenido %}
        <section class="container portada">

            <div class="row align-items-center mt-5 p-3">

                <!-- <div class="col-12 col-md-6 order-md-last">
                    <img src="{% static 'polls/img/butterfly.jpg' %}" class="img-fluid" alt="portada">
                </div> -->

                <div class="col-12 d-flex flex-column p-3">
                    <h1 class="text-center text-md-start fw-bold display-5">Tableros de Sudoku</h1>

                    <p class="text-center text-md-start"><strong>Appdoku</strong> es una App destinada para aquellos amantes del <strong>sudoku</strong>. Se
                        pueden generar tableros con distintos <strong>niveles de complejidad y tamaño</strong>, los mismos permaneceran 24 horas hasta que
                        automaticamente se genere la solución. Mucha suerte !</p>

                    <div class="d-flex justify-content-center justify-content-md-start">
                        <a href="{% url 'appdoku:generar' %}" class="btn btn-dark btn-lg">Generar</a>
                    </div>
                </div>
        </section>

        <section class="container tarjeta">
            <div class="row justify-content-start align-items-center p-3">
                {% if latest_tablero_list %}
                {% for tablero in latest_tablero_list %}

                <div class="card col-12 col-sm-6 col-md-4 col-lg-3 p-2">
                    <img src="{% static 'appdoku/img/sudoku.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h3 class="card-title fs-5 fw-bold">{{ tablero.name }}#{{ tablero.id }}</h3>
                        <p class="card-text">creado: {{ tablero.created }}</p>
                        <p class="card-text">nivel: {{ tablero.level }} - tamaño: {{ tablero.size }}</p>

                        <div class="d-flex justify-content-center">
                            <a href="/appdoku/tablero/{{ tablero.id }}" class="btn btn-primary">Jugar</a>
                        </div>
                    </div>
                </div>

                {% endfor %}
                {% else %}
                <p>No sudokus are available.</p>
                {% endif %}

            </div>
        </section>

        <section class="formulario-contacto container shadow mt-3 p-3">

            <div class="row">

                <div class="col-md-8">
                    <h2 class="text-center text-md-start display-5 fw-bold">Trabajemos juntos</h2>
                    <p class="text-center text-md-start">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        Eligendi assumenda, aliquid numquam molestias ex amet.

                    <form action="" class="row">
                        <div class="form-floating mb-3 col-md-5">
                            <input type="text" class="form-control" id="nombre-usuario" placeholder="Nombre Apellido">
                            <label for="nombre-usuario">Nombre Apellido</label>
                        </div>
                        <div class="form-floating mb-3 col-md-5">
                            <input type="email" class="form-control" id="email-usuario" placeholder="name@example.com">
                            <label for="email-usuario">Email address</label>
                        </div>

                        <div class="col-md-2 d-flex justify-content-center mb-3">
                            <input type="submit" class="btn btn-dark btn-lg" value="Enviar">
                        </div>
                    </form>

                </div>

                <div class="col-md-4 d-md-flex justify-content-center align-items-center">
                    <img src="{% static 'polls/img/contacto.png' %}" alt="contacto"
                        class="d-none d-md-inline-block w-75">
                </div>
            </div>
        </section>
        {% endblock %}
    </main>

    <footer>
        <div class="container bg-dark text-bg-dark">
            <div class="row justify-content-md-between align-items-md-center border-bottom">
                <div class="d-flex flex-column align-items-center mt-3 p-3 col-md-4">
                    <!-- <img src="{% static 'polls/img/bootstrap-logo.svg' %}" alt="logo" class="w-25"> -->
                    <i class="bi bi-nut-fill fs-1"></i>
                    <span class="text-center p-2">InGenios (c) 2023, todos los derechos reservados</span>
                    <span>ingenios@gmail.com</span>
                </div>

                <div class="mt-3 p-3 col-md-4">
                    <h3 class="text-center">Nuestras Redes</h3>
                    <div class="d-flex justify-content-around fs-2">
                        <i class="bi bi-instagram"></i>
                        <i class="bi bi-facebook"></i>
                        <i class="bi bi-linkedin"></i>
                        <i class="bi bi-twitter"></i>
                    </div>


                </div>

                <div class="mt-3 p-3 col-md-4">
                    <h3 class="text-center text-md-start">Suscribite a nuestro Newsletter</h3>
                    <form action="" class="row">
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control text-bg-dark" id="newsletter"
                                placeholder="name@example.com">
                            <label for="newsletter">Email address</label>
                        </div>

                        <div class="d-flex justify-content-center mb-3 justify-content-md-start">
                            <input type="submit" class="btn btn-light btn-lg" value="Suscribir">
                        </div>
                    </form>
                </div>
            </div>

            <div class="d-flex justify-content-center p-3">
                <span>InGenios | Todos los derechos reservados</span>
            </div>
        </div>
    </footer>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>

</html>