{% extends "appdoku/index.html" %}
{% load static %}
{% block contenido %}

<section class=" container mt-5 p-3">
    <div class="row mt-md-3">
        <div class="col-12 col-md-5 order-md-last">
            <h2 class="text-center text-md-start display-5 fw-bold">{{ tablero.name }}#{{ tablero.id }}</h2>
            <p class="text-center text-md-start">creado: {{ tablero.created }}</p>
            <p class="text-center text-md-start">nivel: {{ tablero.level }} - tamaño: {{ tablero.size }}</p>
        </div>

        <div class="col-12 col-md-7">
            <form enctype="multipart/form-data" action="/appdoku/tablero/{{ tablero.id }}" method="post" class="row justify-content-center align-items-center" novalidate>
                {% csrf_token %}
                <div class="grilla gap-2">
                    {% for fila in sudoku_cluster %}
                    <div class="grilla">
                        {% for id, id_str, box, value, flag in fila %}
                        {% if flag == 'N' %}
                        <div class="border border-dark celda">
                            <input type="text" class="form-control-plaintext text-center" id="{{ id_str }}" name="{{ id_str }}" value="">
                        </div>
                        {% elif flag == 'P' %}
                        <div class="border border-dark">
                            <input type="text" class="form-control-plaintext text-center bg-primary text-bg-primary"
                                id="{{ id_str }}" name="{{ id_str }}" value="{{ value }}" readonly>
                        </div>
                        {% elif flag == 'S' %}
                        <div class="border border-dark">
                            <input type="text" class="form-control-plaintext text-center bg-success text-bg-success"
                                id="{{ id_str }}" name="{{ id_str }}" value="{{ value }}" readonly>
                        </div>
                        {% elif flag == 'D' %}
                        <div class="border border-dark celda">
                            <input type="text" class="form-control-plaintext text-center bg-danger text-bg-danger"
                                id="{{ id_str }}" name="{{ id_str }}" value="{{ value }}">
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
                <div class="col d-flex justify-content-end align-items-center mt-2">
                    <input type="submit" class="btn btn-dark btn-lg" value="Evaluar">
                </div>
            </form>
        </div>
    </div>
</section>

<!-- <section class="container mt-3 p-3">
    <div class="row">
        <table style="width: 500px; height: 500px; padding: 20px">
            {% for fila in sudoku_lst %}
            <tr>
                {% for elemento in fila %}

                {% if elemento == '0' %}
                <td style="border: 1px solid black; text-align: center;">
                    <a href="">-</a>
                </td>
                {% else %}
                <td style="border: 1px solid black; text-align: center; background-color: gainsboro; font-size: large;">
                    {{ elemento }}
                </td>
                {% endif %}

                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
</section>

<p>Progreso: ---, Movimientos: ---</p>
<a href="{% url 'appdoku:index' %}">+ Volver</a>
<p>Gracias por jugar a appDoku</p> -->

{% endblock %}