header{
    background-color: rgba(52, 59, 64, 0.9);
}

.grilla{
    display: grid;
    /* padding: 4px; */
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    /* border: black solid 1px; */
}

.celda:hover{
    background-color: lightgray;
}

input:focus{
    background-color: lightgoldenrodyellow;
    font-weight: bold;
}